<a href="https://colab.research.google.com/github/Ashlay01/Ash21212022/blob/main/test_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import sqlite3

conn = sqlite3.connect("test.db")

In [12]:
cur = conn.cursor()

In [13]:
sql = """
CREATE TABLE IF NOT EXISTS users(
  userid INT PRIMARY KEY,
  fname TEXT,
  lname TEXT,
  superhero TEXT,
  gender TEXT);
"""

# Execute query
cur.execute(sql)

In [14]:
sql='''
PRAGMA table_info('users');
'''

cur.execute(sql)
cur.fetchall()

[(0, 'userid', 'INT', 0, None, 1),
 (1, 'fname', 'TEXT', 0, None, 0),
 (2, 'lname', 'TEXT', 0, None, 0),
 (3, 'superhero', 'TEXT', 0, None, 0),
 (4, 'gender', 'TEXT', 0, None, 0)]

In [17]:
#Create a second table in the database 
sql = """
CREATE TABLE IF NOT EXISTS film(
  filmid INT PRIMARY KEY,
  filmName TEXT,
  filmDescription TEXT,
  filmRating INT,
  filmProducer TEXT);
  """
cur.execute(sql)

In [18]:
#Check schema of database
sql = """
Select name
FROM sqlite_master
WHERE type = 'table';
"""
cur.execute(sql)
cur.fetchall()

[('users',), ('film',)]

In [20]:
sql='''
PRAGMA table_info('film');
'''

cur.execute(sql)
cur.fetchall()

[(0, 'filmid', 'INT', 0, None, 1),
 (1, 'filmName', 'TEXT', 0, None, 0),
 (2, 'filmDescription', 'TEXT', 0, None, 0),
 (3, 'filmRating', 'INT', 0, None, 0),
 (4, 'filmProducer', 'TEXT', 0, None, 0)]

In [24]:
#insert data into table
sql = """
INSERT INTO users
VALUES (1, 'ASH', 'NSL', 'MALE', 'X-Men');
"""

cur.execute(sql)

In [25]:
#check whether data has been inserted into table users
sql = """
SELECT *
FROM users;
"""

cur.execute(sql)
cur.fetchall()

[(1, 'ASH', 'NSL', 'MALE', 'X-Men')]

In [26]:
#fetching data from table users
sql = """
SELECT *
FROM users;
"""

rows = cur.execute(sql)

for row in rows:
  print(row)

(1, 'ASH', 'NSL', 'MALE', 'X-Men')

In [32]:
#inserting many values in the database
many_values = [(2, "WAWA", "ASH", "BEBE", "xxx"), (3, "NSL", "SAS", "SMC", "ddd")]

sql = """
INSERT INTO users
VALUES (?,?,?,?,?)
"""
cur.executemany(sql, many_values)

In [33]:
#fetching data from table users
sql = """
SELECT *
FROM users;
"""

rows = cur.execute(sql)

for row in rows:
  print(row)

(1, 'ASH', 'NSL', 'MALE', 'X-Men')
(2, 'WAWA', 'ASH', 'BEBE', 'xxx')
(3, 'NSL', 'SAS', 'SMC', 'ddd')