<a href="https://colab.research.google.com/github/Ashlay01/Ash21212022/blob/main/test_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

conn = sqlite3.connect("test.db")

In [3]:
cur = conn.cursor()

In [8]:
sql = """
CREATE TABLE IF NOT EXISTS users(
  userid INT PRIMARY KEY,
  fname TEXT,
  lname TEXT,
  superhero TEXT,
  gender TEXT);
"""

# Execute query
cur.execute(sql)

In [9]:
sql='''
PRAGMA table_info('users');
'''

cur.execute(sql)
cur.fetchall()

[(0, 'userid', 'INT', 0, None, 1),
 (1, 'fname', 'TEXT', 0, None, 0),
 (2, 'lname', 'TEXT', 0, None, 0),
 (3, 'superhero', 'TEXT', 0, None, 0),
 (4, 'gender', 'TEXT', 0, None, 0)]